{% import "macros.html" as macros %}
{% extends "layout.html" %}


{% block title %}Campeonatos{% endblock %}


{% set form_id = 'form-add-championship' %}
{% set modal_id = 'modal-add-championship' %}


{% block body %}
<h1>Campeonatos</h1>
<div class="btn-group">
  <div class="btn btn-primary" data-toggle="modal" data-target="#{{ modal_id }}">
    Agregar
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for championship in championships %}
    <tr>
      <td scope="row">
        {{ loop.index }}
      </td>
      <td>
        <a href="{{ url_for('championship', id=championship.id) }}">
          {{ championship.name }}
        </a>
      </td>
      <td>
        {% set state = championship.state %}
        {% if state == "started" %}
        Empezado
        {% elif state == "not_started" %}
        No Empezado
        {% elif state == "finished" %}
        Finalizado
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


{% block modals %}
{{ macros.make_modal_from_form("Nuevo Campeonato", modal_id, form, form_id) }}
{% endblock %}


{% block scripts %}
{{ macros.js_send_request(form_id, url_for('add_championship'), "Campeonato agregado.", modal_id=modal_id) }}
{% endblock %}
