{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block title %}{{ championship.name }}{% endblock %}

{% set form_id = "form-add-team-to-championship"%}
{% set modal_id = "modal-add-team-to-championship"%}


{% block body %}
<h1>
  <a href="{{ url_for('championships', id=championship.id) }}">
    {{ championship.name }}</h1>
  </a>
<blockquote>
  <p class="text-muted">
    {{ championship.description }}
  </p>
</blockquote>

<div class="btn-group">
  <a class="btn btn-primary" href="{{ url_for('stages', championship_id=championship.id, stage=0, group=1) }}">
    Empezar/Reanudar
  </a>
  <buttom class="btn btn-secondary" disabled>Top Jugadores</buttom>
</div>

<h2>Equipos</h2>
<div class="btn-group">
  <div class="btn btn-primary" data-toggle="modal" data-target="#{{ modal_id }}">
    Agregar
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    {% for teamc in championship.teams %}
    {% set team = teamc.team %}
    <tr>
      <td scope="row">
        {{ loop.index }}
      </td>
      <td>
        <a href="{{ url_for('teams', id=team.id) }}">
          {{ team.name }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


{% block modals %}
{{ macros.make_modal_from_form("Regstrar Equipo", modal_id, form, form_id) }}
{% endblock %}


{% block scripts %}
{{ macros.js_send_request(form_id, url_for('add_team_to_championship', id=championship.id), "Equipo agregado.", modal_id=modal_id) }}
{% endblock %}
