{% import "macros.html" as macros %}
{% extends "layout.html" %}


{% block title %}Campeonatos{% endblock %}


{% set form_id = 'form-add-championship' %}


{% block body %}
<h1>Campeonatos</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for championship in championships %}
    <tr>
      <td scope="row">
        {{ loop.index }}
      </td>
      <td>
        <a href="{{ url_for('championships', id=championship.id) }}">
          {{ championship.name }}
        </a>
      </td>
      <td>estado</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Nuevo Campeonato</h2>
{{ macros.make_form(form, form_id) }}

{% endblock %}


{% block scripts %}
{{ super() }}
{{ macros.js_send_request(form_id, url_for('add_championship'), "Campeonato agregado.") }}
{% endblock %}
