{% set isnpjax = "X-PJAX" not in request.headers %}
{% if isnpjax %}
<!DOCTYPE html>
<html lang="es">
  <head>
{% endif %}
    {% block head %}
{% if isnpjax %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endif %}

    <title>{% block title %}Football Championship Manager{% endblock %} - FBCM</title>

{% if isnpjax %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css"/>
{% endif %}
    {% endblock %}
{% if isnpjax %}
  </head>

  <body>

    <!-- Contenedor de alertas -->
    <div id='container-alert' class="alert-fixed"></div>

    <!-- Loader -->
    <div class="loader-container modal" hidden="hidden">
      <div class="loader"></div>
    </div>

    <div class="container">
      <div class="row">
        <div class="container col-sm-3">
          <nav>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{{ url_for('players') }}">Jugadores</a></li>
              <li><a href="{{ url_for('teams') }}">Equipos</a></li>
              <li><a href="{{ url_for('championships') }}">Campeonatos</a></li>
              <li>
                <hr>
                <footer>
                  <small class="text-muted">
                    Copyright (c) 2016 - <a href="mailto:santos_g@outlook.com">Santos Gallegos</a>.
                  </small>
                </footer>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-9" id="main-content">
{% endif %}
          {% block body %}
          <h1>Hello, world!</h1>
          {% endblock %}
{% if isnpjax %}
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery-pjax/jquery.pjax.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endif %}
    {% block scripts %}
    {% endblock %}
{% if isnpjax %}
  </body>
</html>
{% endif %}
