{% import "macros.html" as macros %}
{% extends "layout.html" %}


{% block title %}
  {% for team_match in match.team_matches %}
  {% set team = team_match.team.team %}
    {{ team.name }}
  {% if loop.index == 1 %}
    VS
  {% endif %}
  {% endfor %}
{% endblock %}


{% set form_id = 'form-add-goal' %}
{% set modal_id = 'modal-add-goal' %}
{% set modal_confirm_id = 'modal-finish-match'%}
{% set form_confirm_id = 'form-finish-match'%}

{% set stage = match.stage %}
{% set championship = stage.championship %}


{% block body %}
<div>
  <h1>
    <a href="{{ url_for('championship', id=championship.id) }}">
      {{ championship.name }}
    </a>
  </h1>
  <small>
    <a href="{{ url_for('stages', championship_id=championship.id) }}?stage={{ stage.id }}&group={{ match.group }}">
      {{ stage.name }} - Grupo {{ match.group }} - Ronda {{ match.round }}
    </a>
  </small>
</div>

<h2>
  {% for team_match in match.team_matches %}
  {% set team = team_match.team.team %}
  <a href="{{ url_for('team', id=team.id) }}">
    {{ team.name }}
  </a>
  -
  <strong>{{ team_match.goals.count() }}</strong>
  {% if loop.index == 1 %}
    VS
  {% endif %}
  {% endfor %}
</h2>

<div class="btn-group">
  {% if not match.is_finish %}
  <button class="btn btn-warning" data-toggle="modal", data-target="#{{ modal_confirm_id }}">
    Finalizar
  </button>
  {% endif %}
</div>


<h2>Goles</h2>
<div class="btn-group">
  {% if not match.is_finish %}
  <div class="btn btn-primary" data-toggle="modal" data-target="#{{ modal_id }}">
    Gol
  </div>
  {% endif %}
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Equipo</th>
      <th>Jugador</th>
    </tr>
  </thead>
  <tbody>
    {% for team, goal in match.goals %}
    <tr>
      <td scope="row">
        {{ loop.index }}
      </td>
      <td>
        <a href="{{ url_for('team', id=team.id) }}">
          {{ team.name }}
        </a>
      </td>
      <td>
        <a href="{{ url_for('player', id=goal.player.id) }}">
          {{ goal.player.name }} {{ goal.player.lastname }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block modals %}
{{ macros.make_modal_from_form("Agregar Gol", modal_id, form, form_id) }}

{{ macros.make_confirm_modal(
  "¿Finalizar Partido?",
  modal_confirm_id,
  form_confirm_id,
  'Al finalizar el partido ya no podrá agregar más goles. Esta acción es irreversible.',
  'Si, finalizar partido')
}}
{% endblock %}


{% block scripts %}
{{ macros.js_send_request(
  form_id,
  url_for(
    'goal',
    championship=championship.id,
    stage=stage.id,
    group=match.group,
    round=match.round,
    match=match.id
  ),
  "Gol!",
  modal_id=modal_id)
}}


{{ macros.js_send_request(
  form_confirm_id,
  url_for(
    'finish_match',
    championship=championship.id,
    stage=stage.id,
    group=match.group,
    round=match.round,
    match=match.id
  ),
  "Partido finalizado",
  modal_id=modal_confirm_id)
}}
{% endblock %}
