{% import "macros.html" as macros %}
{% extends "layout.html" %}


{% block title %}Jugadores{% endblock %}


{% set form_id = 'form-add-player' %}
{% set modal_id = 'modal-add-player' %}


{% block body %}
<h1>Jugadores</h1>
<div class="btn-group">
  <div class="btn btn-primary" data-toggle="modal" data-target="#{{ modal_id }}">
    Agregar
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Equipo</th>
      <th>Posición</th>
      <th>Número</th>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
    <tr>
      <td scope="row">
        {{ loop.index }}
      </td>
      <td>
        <a href="{{ url_for('players', id=player.id) }}">{{ player.id }}</a>
      </td>
      <td>{{ player.name }}</td>
      <td>{{ player.lastname }}</td>
      <td>{{ player.team.name or "-" }}</td>
      <td>{{ player.position or "-" }}</td>
      <td>{{ player.number if player.number != None else "-" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


{% block modals %}
{{ macros.make_modal_from_form("Nuevo Jugador", modal_id, form, form_id) }}
{% endblock %}


{% block scripts %}
{{ macros.js_send_request(form_id, url_for('add_player'), "Jugador agregado.", modal_id=modal_id) }}
{% endblock %}
