{% import "macros.html" as macros %}
{% extends "layout.html" %}


{% block title %}Equipos{% endblock %}


{% set form_id = 'form-add-team' %}
{% set modal_id = 'modal-add-team' %}


{% block body %}
<h1>Equipos</h1>
<div class="btn-group">
  <div class="btn btn-primary" data-toggle="modal" data-target="#{{ modal_id }}">
    Agregar
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
    <tr>
      <td scope="row">
        {{ loop.index }}
      </td>
      <td>
        <a href="{{ url_for('team', id=team.id) }}">
          {{ team.name }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


{% block modals %}
{{ macros.make_modal_from_form("Nuevo Equipo", modal_id, form, form_id) }}
{% endblock %}


{% block scripts %}
{{ macros.js_send_request(form_id, url_for('add_team'), "Equipo agregado.", modal_id=modal_id) }}
{% endblock %}
